@tailwind base;
@tailwind components;
@tailwind utilities;

.line_css {
  background: linear-gradient(transparent, #7c72ff 30%);
}

.bg_span {
  background-color: #55d366;
  filter: blur(10px);
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: -1 !important;
  left: -15%;
  top: -10%;
  border-radius: 50%;
}
.mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(71, 50, 6, 0.1),
    rgba(20, 20, 20, 0.7) 4%,
    rgba(243, 241, 230, 0.3)
  );
  background-size: 200% 100%;
  background-position: 200% 0;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  animation: marker-animation 2s forwards;
}

@keyframes marker-animation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media all and (max-height: 810px) {
  .h-res {
    font-size: 20rem !important;
  }
  .h-res_head {
    gap: 0px !important;
  }
}
